<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="hhhhh">
    <meta name="keywords" content="hhh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>
    
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icons-1.5.0/font/bootstrap-icons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-5.1.1/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.0.0/dist/css/bootstrap.min.css') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  <style>

  </style>

  {% block style %} {% endblock %}
</head>
<body>
<nav id="mainNav" style="background-color: #1a1d20" class="bg-darks container-fluid d-flex py-3">

  <div class="text-light pe-4" style="cursor: pointer;" onclick="emmaNavOpen()">&#9776;</div>
  <a href="{% if current_user.is_authenticated %}/explore{% else %}/{% endif %}"><img src="{{ url_for('static', filename='img/phoniebg.png') }}" style="max-height: 1.5rem"></a>
  <div class="text-right text-light d-flex" style="position: absolute;right: 1rem">
        {% block icon %}{% endblock %}
        <!-- <a href="/cart" class="emma-a-light"><i class="bi bi-cart3 cart-badge" value="{{ l }}" style="font-size: 1.3em; line-height: 0;"></i></a> -->

        <a href="/cart" class="emma-a-light"><ul style="list-style-type: none;padding: 0;margin:0;"><li class="cart-badge" value="{{ l }}"><i class="bi bi-cart3" style="font-size: 1.3em; line-height: 0;"></i></li></ul></a>

{% if current_user.is_authenticated %}
        <a class="emma-a-light" id="drop-nav-icon"id="drop-nav-icon" style="cursor: pointer;">
          <i class="bi bi-three-dots-vertical" style="line-height: 0; font-size: 1.3em"></i>
          </a>
          
          {% else %}
          <a href="/signup" class="emma-a-light" style="cursor: pointer;">
          <span class=""><i class="bi bi-person" value="5" style="font-size: 1.3em; line-height: 0;"></i></span>
          <span class="d-sm-inline d-none">signup</span>
          </a>
{% endif %}

  </div>
</nav>


<div style="position: relative; margin-top: 0.2rem; ">
<div id="drop-navbar-element" style="opacity: 0">
  <div class="border rounded shadow-sm bg-white text-dark text-start" style="position: fixed; z-index: 2000; right: 0;margin-right: 0.5rem;">
              <a href="/explore" class="drop-nav"><div class="py-2 px-3 border-bottom drop-nav-bg"><i class="bi bi-table me-2" style="line-height: 0; font-size: 1.3em"></i> Explore</div></a>
              <a href="#" class="drop-nav"><div class="py-2 px-3 border-bottom drop-nav-bg"><i class="bi bi-speedometer2 me-2" style="line-height: 0; font-size: 1.3em"></i> Dashboard</div></a>
              <a href="#" class="drop-nav"><div class="py-2 px-3 border-bottom drop-nav-bg"><i class="bi bi-gear me-2" style="line-height: 0; font-size: 1.3em"></i> Settings</div></a>
              <a href="/signout" class="drop-nav"><div class="py-2 px-3 pb-2 drop-nav-bg"><i class="bi bi-power me-2" style="line-height: 0; font-size: 1.3em"></i> Signout</div></a>
          </div>
</div>
</div>

<div id="emmaNav" class="shadow-sm sidebar-menubar bg-white">
  <div class="border-bottom px-4 py-3"  style="background-color: #1a1d20">
    <div class="row">
      <div  class="col-10">
        <a href="{% if current_user.is_authenticated %}/explore{% else %}/{% endif %}"><img src="{{ url_for('static', filename='img/phoniebg.png') }}" style="max-height: 1.5rem"></a>
      </div>
      <div id="iconSideBar" class="col-2"><i class="bi bi-x text-light" style="font-size: 1.37rem;line-height: 0;cursor: pointer;" onclick="emmaNavclose()"></i></div>
    </div>
  </div>

  <div class="px-4 pt-3 bg-white" style="font-size: 1.1em;"><i class="bi bi-table me-2"></i><a href="{% if current_user.is_authenticated %}/explore{% else %}/{% endif %}" class="emma-a">Explore</a></div>

{% if current_user.is_authenticated %}
   <div class="px-4 pt-2 bg-white" style="font-size: 1.1em;"><i class="bi bi-speedometer2 me-2"></i><a href="#" class="emma-a">Dashborad</a></div>
{% endif %}
  
  <div class="px-4 pt-2 bg-white" style="font-size: 1.1em;"><i class="bi bi-cart4 me-2"></i><a href="/cart" class="emma-a">Cart</a></div>

{% if current_user.is_authenticated %}

  <div class="px-4 pt-2 bg-white" style="font-size: 1.1em;"><i class="bi bi-gear me-2"></i><a href="#" class="emma-a">Settings</a></div>
{% else %}

  <div class="px-4 pt-2 bg-white" style="font-size: 1.1em;"><i class="bi bi-telephone me-2"></i><a href="/contact-us" class="emma-a">Contact Us</a></div>

{% endif %}
  
{% if current_user.is_authenticated %}
   <div class="px-4 pt-3">OTHERS</div>

 <div class="px-4 pt-2 bg-white" style="font-size: 1.1em;"><i class="bi bi-megaphone me-2"></i><a href="#" class="emma-a">Deposit</a></div>
  
  <div class="px-4 pt-2 bg-white" style="font-size: 1.1em;"><i class="bi bi-people me-2"></i><a href="#" class="emma-a">Address</a></div>

  <div class="px-4 pt-2 bg-white" style="font-size: 1.1em;"><i class="bi bi-telephone me-2"></i><a href="/contact-us" class="emma-a">Contact us</a></div>
  <div class="px-4 pt-2 bg-white" style="font-size: 1.1em;"><i class="bi bi-patch-question me-2"></i><a href="/faqs" class="emma-a">FAQs</a></div>
{% else %}

   <div class="px-4 pt-3">POLICY</div>
  

  <div class="px-4 pt-2 bg-white" style="font-size: 1.1em;"><i class="bi bi-megaphone me-2"></i><a href="/about-us" class="emma-a">About Us</a></div>
  
  <div class="px-4 pt-2 bg-white" style="font-size: 1.1em;"><i class="bi bi-people me-2"></i><a href="/warranty-policy" class="emma-a">Warranty Policy</a></div>

  <div class="px-4 pt-2 bg-white" style="font-size: 1.1em;"><i class="bi bi-pen me-2"></i><a href="/terms-and-conditions" class="emma-a">Terms & Conditions</a></div>
  <div class="px-4 pt-2 bg-white" style="font-size: 1.1em;"><i class="bi bi-patch-question me-2"></i><a href="/faqs" class="emma-a">FAQs</a></div>
{% endif %}

</div>

<div id="body-div" class="{% block container_fluid %}container-fluid{% endblock %}" style="background-color: rgba(0,0,0,0.02); min-height: 100vh" onclick="emmaNavclose()">

    {% block body %} {% endblock %}
  </div>

{% if request.path not in ['/', '/about-us']  %}

<div style="background-color: rgba(0,0,0,0.02);">
            <div class="text-center">
                <span>
                  Copyright &copy; 2022 Phonie
                </span>
            </div>
        </div> 
{% else %}

<footer class="fs-6 text-light" style="background-color: #111">

<div class="container">

      <div class="pt-4">
        <div class="row">
            <!--Footer Main Pages -->
            <div class="col-md-5 col-sm-5 col-lg-3 col-6 pb-5">
                <h4 class=" mb-4 ">Info</h4>
                <div class="mb-0">                       
                    <a href="#" class="emma-a-light d-block mt-2">Home</a>
                    <a href="#" class="emma-a-light d-block mt-2">About</a>
                    <a href="#" class="emma-a-light d-block mt-2">FAQ</a> 
                    <a href="#" class="emma-a-light d-block mt-2">Contact Us</a> 
                    <a href="#" class="emma-a-light d-block mt-2">Blog</a> 
                    
                </div>
            </div>

                    <!-- Footer Social Icons-->
            <div class="col-md-5 col-sm-5 col-lg-3 col-6 pb-5">
                <h4 class=" mb-4 pl-2">Reach us</h4>
                 
                <a href="#"><img src="{{url_for('static', filename='img/facebookicon.png')}}"></a>
    
                <a href="#"><img src="{{url_for('static', filename='img/twittericon.png')}}"></a>
            
                <a href="#"><img src="{{url_for('static', filename='img/instagramicon.png')}}"></a>
            
                <a href="#"><img src="{{url_for('static', filename='img/snapchaticon.png')}}"></a>
           
                <a href="#"><img src="{{url_for('static', filename='img/tiktokicon.png')}}"></a>
        
                <a href="#"><img src="{{url_for('static', filename='img/trillericon.png')}}"></a>
            
            </div>

            <!-- Footer About Text-->
            <div class="col-md-6 col-sm-11 col-lg-5">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls pb-2">

                        <label>Subscribe</label> <br>
                        <div class="d-inline-block">
                        <input class="form-control mr-1 mb-2" id="inputEmailList" style="width: 200px" type="email_list"  name="email_list" placeholder="Join Our Email List" />
                        </div>

                        <button class="btn btn-danger">Submit</button>

                        
                    </div>
                </div>
            </div>


  </div>
  </div>
</div>


</footer>



<div style="position: absolute;left: 0; right: 0; background-color: rgba(0,0,0,0.2);">
    <div class="text-center">
          <span>Copyright &copy; 2022 phonie | <a href="#" class="emma-a">terms of service</a> | <a href="#" class="emma-a"> privacy and cookies </a>
        </span>
    </div>
</div>

{% endif %}




<script src="{{ url_for('static', filename='bootstrap-5.1.1/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-4.0.0/dist/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<script>
  function dropNavBarElement() {
    let dis = document.querySelector('#drop-navbar-element').style.opacity;
    if (dis == '1'){
      document.querySelector('#drop-navbar-element').style.opacity = '0'
    }else{
      document.querySelector('#drop-navbar-element').style.opacity = '1'
    }
  }

function closeDropNavBarElement() {
  let dis = document.querySelector('#drop-navbar-element').style.opacity;
    if (dis == '1'){
    document.querySelector('#drop-navbar-element').style.opacity = '0'
  }
  }



  document.querySelector('#drop-nav-icon').addEventListener('click', dropNavBarElement);
  document.querySelector('#body-div').addEventListener('click', closeDropNavBarElement);

  document.addEventListener('scroll', closeDropNavBarElement);
</script>
{% block script %} 

{% endblock %}


</body>
</html>