{% extends 'base.html'%}

{% block title %}Product{% endblock %}



{% block body %}
 <div class="row pt-md-4 pt-3">

   <div class="col-lg-3 col-md-4 mt-md-5 pt-3 mb-4 d-md-none">
        <div class="fs-2 pb-3 d-md-none">Product</div>

         <div class="bg-white rounded shadow-sm px-3 py-3 border">
          <div class="fs-3 border-bottom text-center">Product detail</div>
          <div class="py-3 text-center">
              <span class="numItem">1</span> item<span class="mx-2" style="font-size: 1.2rem">-</span>$<span>{{ phone.price | price }}</span>
          </div>
          <div class="pb-3 d-flex">
            <button class="btn btn-sm btn-success w-100 me-2">Buy Now</button>
            <a href="/cart" class="btn btn-sm btn-dark w-50" type="button">Cart</a>
          </div>
        </div>
      </div>

     
      <div class="col-lg-9 col-md-8">

        <div class="fs-2 pb-3 d-none d-md-block">Product</div>

        <div class="row">
          <div class="col-lg-12">
                  <div class="border mb-3 rounded shadow-sm text-dark bg-white">
            <div class="row">
              <div class="col-sm-4">
              <div class="d-none d-sm-block border-end h-100" style="background-color: #f8f8f8">
                <a href="/product/{{ phone.id }}" class="emma-a">
                 <img class="img-fluid mx-auto d-block" style="max-height: 170px;max-width: 170px" src="{{ url_for('static', filename='uploads/'+phone.phone_image_front) }}">
              </a>
              </div>
              <div class="d-sm-none  border-bottom shadow-sm h-100" style="background-color: #f8f8f8">
                <a href="#" charset="emma-a">
                <img class="img-fluid mx-auto d-block" style="max-height: 170px;max-width: 170px" src="{{ url_for('static', filename='uploads/'+phone.phone_image_front) }}">
              </a>
              </div>
              </div>
              <div class="col-sm-8">
              <div class="pe-3 ps-sm-0 ps-3 py-3">
                <div class="row">
                <div class="fw-normal col-6">$<span style="font-size: 1.2rem;">{{ phone.price | price }}</span></div>

                <div class="text-end col-6">
                  <button class="btn btn-sm btn-success send-cart" value="{{ phone.id }}" id="{{ phone.id }}">{% if phone.id in lst_cart %} Remove {% else %} Add to Cart {% endif %}</button>
                </div>
                </div>
                <div class="mt-3 mb-2">
                  <a href="/product/{{ phone.id }}" class="fw-normal emma-a" style="font-size: 1.15rem">{{ phone.description }}
                  </a>
                </div>
                  <div class="btn-group w-100 mt-3">
	                <button class="btn btn-sm btn-dark" type="button" id="plus">+</button>
	                <button class="btn btn-sm btn-light border-0 shadow-0" id="quantity" type="button">1</button>
	                <button class="btn btn-sm btn-dark" type="button" id="minus">-</button>
	              </div>
	              <div class="text-center mt-3">
	              	<a href="#" class="emma-a"><span>more</span><i class="bi bi-chevron-down"></i></a>
	              </div>
              </div>
              </div>
            </div>
          </div>
          </div>


          </div>
</div>

 <div class="col-lg-3 col-md-4 d-none d-md-block mt-5 pt-3">
        <div class="bg-white rounded shadow-sm px-3 py-3 border">
          <div class="fs-3 border-bottom text-center">Product detail</div>
          <div class="py-3 text-center">
             <span class="numItem">1</span> item<span class="mx-2" style="font-size: 1.2rem">-</span>$<span>{{ phone.price | price }}</span>
          </div>
          <div class="pb-3 d-flex">
            <button class="btn btn-sm btn-success w-100 me-2">Buy Now</button>
            <a href="/cart" class="btn btn-sm btn-dark w-50" type="button">Cart</a>
          </div>
        </div>
      </div>



</div>

{% endblock %}




{% block script %} 


<script>

function plusBtn(){
  quantity = Number(document.querySelector('#quantity').innerText);
  numItems = document.querySelectorAll('.numItem');
  document.querySelector('#quantity').innerText = String(quantity + 1);

  numItems.forEach(numItem => {
    numItem.innerText = String(Number(numItem.innerText) + 1)
  })
}  

function minusBtn(){
  quantity = Number(document.querySelector('#quantity').innerText);
  numItem = document.querySelectorAll('.numItem');
  if (quantity === 1){

  } else{
    document.querySelector('#quantity').innerText = String(quantity - 1);
    numItems.forEach(numItem => {
      numItem.innerText = String(Number(numItem.innerText) - 1)
    })
  }
}

document.querySelector('#plus').addEventListener('click', plusBtn);
document.querySelector('#minus').addEventListener('click', minusBtn);
</script>


<script>
 
$(function(){
    $('.send-cart').click(function(e){
        $.ajax({
            url: '/send-cart',
            data: {'id': $(this).val(), 'number': 1},
            type: 'POST',
            success: function(response){
                console.log(response);
            },
            error: function(error){
                console.log(error);
            }
        }).done( function(data){
            // console.log(data);
            if (data.status == 'add'){
                $('#' + data.msg).text("Remove");
                document.querySelector('.cart-badge').value = document.querySelector('.cart-badge').value + 1
                // $('#' + data.msg).hide();

            }else if (data.status == 'remove'){
                $('#' + data.msg).text("Add to Cart");
                document.querySelector('.cart-badge').value = document.querySelector('.cart-badge').value - 1



            }else{

            }
        });
        e.preventDefault();
    });
});

   

</script>


{% endblock %}

