{% extends 'base.html'%}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Forgot Password{% endblock %}

{% block body %} 

<div class="">
<div class="row pt-3">
  <div class="col-md-10 col-lg-6 mx-auto">

    <div class="h2 border-bottom pb-3">Forgot Password</div>

    <div class="mt-4">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="alert alert-danger" role="alert">
          {{ messages[0] }}
          </div><br>
      {% endif %}
      {% endwith %}
    </div>

    <div class="container-fluid border rounded shadow-sm bg-white py-3">


      <form action="/forgot-password" method="post">

        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email) }}
              
        <div class="mb-2">
          <button class="btn btn-danger" id="subBtn" type="submit">Send email</button>
        </div>
    </form>
        
    </div>
  </div>
</div>
</div>


{% endblock %}


{% block script %}


<script type="text/javascript">
    document.getElementById('email').setAttribute('placeholder', 'Email address');
    document.querySelectorAll('label').forEach(v => 
        v.setAttribute('class', 'fs-5')
    );



</script>

{% endblock %}








