{% extends 'base_user.html'%}

{% block title %}Shopping Cart{% endblock %}



{% block body %}
 <div class="row pt-md-4 pt-3">

   <div class="col-lg-3 col-md-4 mt-md-5 pt-3 mb-4 d-md-none">
        <div class="fs-2 pb-3 d-md-none">Shopping Cart</div>

        <div class="bg-white rounded shadow-sm px-3 py-3">
          <div class="fs-3 border-bottom text-center">Purchase Items</div>
          <div class="py-3 text-center">
            Subtotal (5 items): 750.00
          </div>
          <div class="pb-3">
            <button class="btn btn-sm btn-dark w-100">Pay now</button>
          </div>
        </div>
      </div>

     
      <div class="col-lg-9 col-md-8">

        <div class="fs-2 pb-3 d-none d-md-block">Shopping Cart</div>

        <div class="row">
          <div class="col-lg-6">
          <div class="border mb-3 rounded shadow-sm text-dark bg-white">
            <div class="row">
              <div class="col-sm-4">
              <div class="border-end" style="background-color: #f8f8f8">
                <img class="img-fluid mx-auto d-block" style="max-height: 170px;max-width: 170px" src="{{ url_for('static', filename='img/jhjkkj.jpg') }}">
              </div>
              </div>
              <div class="col-sm-8">
              <div class="pe-3 ps-sm-0 ps-3 py-3">
                <div class="row">
                <div class="fw-normal col-6">$<span style="font-size: 1.2rem;">10000</span></div>

                <div class="text-end col-6">
                      
                  <button class="btn btn-sm btn-success add-cart" id="{{ phone.id }}"><i class="bi bi-x text-dark" style="font-size: 2rem;cursor: pointer;" onclick="emmaNavclose()"></i></button>
                </div>
                </div>
                <div class="mt-3 mb-2">
                  <span class="fw-normal" style="font-size: 1.15rem">{{ phone.description }}
                  </span>
                </div>
              </div>
              </div>
            </div>
          </div>
          </div>


          </div>
</div>

 <div class="col-lg-3 col-md-4 d-none d-md-block mt-5 pt-3">
        <div class="bg-white rounded shadow-sm px-3 py-3">
          <div class="fs-3 border-bottom text-center">Purchase Items</div>
          <div class="py-3 text-center">
            Subtotal (5 items): 750.00
          </div>
          <div class="pb-3">
            <button class="btn btn-sm btn-dark w-100">Pay now</button>
          </div>
        </div>
      </div>



</div>

{% endblock %}







{% block script %} 

<script>
 
$(function(){
    $('.add-cart').click(function(e){
        console.log(e.id)
        e.preventDefault();
    });
});
   

</script>

{% endblock %}
